.card__btn {
  width: 22px;
  height: 19px;
  background-color: transparent;
  background-image: url(../../../images/icons/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 0;
  cursor: pointer;
  transition: opacity 0.3s;
  padding: 0;
}

.card__btn:hover {
  opacity: 0.5;
}
