.profile__detail {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  padding-top: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 340px;
}

@media screen and (max-width: 767px) {
  .profile__detail {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 14px;
    max-width: 280px;
  }
}
